.background_home {
  /* path to public forder */
  background-image: url("../../../public/images/background_home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
.main_center {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 40px;
  top: 0;
  left: 0;
}
.title_home {
  position: relative;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 14px;
}
.content_home {
  display: flex;
  padding: 12px 14px 12px 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(40, 16, 92, 0) 29.07%, rgba(18, 28, 84, 0.2) 100%), #fff;
  border-radius: 14px;
  gap: 12px;
  position: relative;
  z-index: 1;
}

.background_home header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 40px 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.sub_title_home {
  border-radius: 6px;
  background: #fead59;
  display: flex;
  padding: 2px 8px;
  align-items: center;
  gap: 3px;
}

.title_home h3 {
  color: #372549;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.373px;
  text-transform: uppercase;
}

.sub_title_home {
  color: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.373px;
}

.social_home {
  gap: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  height: 430px;
  flex-shrink: 0;
  padding: 8px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2);
}
.top {
  width: 100%;
  display: flex;
  height: 50%;
  gap: 5px;
}

.content_data {
  width: 50%;
  border-radius: 12px;
  padding: 4px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  background: rgb(239, 240, 241);
  /* Background Blur */
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7px);
}

.sub_content_data {
  height: 100%;
  min-width: 150px;
  padding: 14px;
  border-radius: 10px;
  background: radial-gradient(104.23% 104.23% at 100% 112%, rgba(33, 64, 82, 0.1) 0%, rgba(33, 64, 82, 0) 100%),
    rgba(255, 255, 255, 0.9);
}

.date {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}
.day {
  color: rgba(55, 37, 73, 0.55);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.hours {
  color: #372549;
  font-family: Poppins;
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.8px;
}

.btc_eth {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.cpt {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  margin: 5px 0px;
}
.cpt span {
  margin-left: 8px;
  margin-right: 8px;
  color: #372549;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
}
.cpt img {
  width: 18px;
  height: 18px;
}
.cpt div {
  display: flex;
  padding: 4px 2px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: rgba(56, 201, 88, 0.1);
  color: #20aa3e;
  leading-trim: both;
  text-edge: cap;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content_social {
  width: 50%;
  height: 100%;
}
.social {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.social_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  padding: 10px;
  border-radius: 12px;
  padding: 4px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.social_item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.social_item_x {
  background: rgb(228, 228, 230);
}
.social_item_d {
  background: rgb(234, 236, 251);
}
.social_item_y {
  background: rgb(253, 226, 224);
}
.social_item_t {
  background: rgb(229, 224, 238);
}

.item_x {
  background: rgb(240, 240, 240);
}
.item_d {
  background: rgb(243, 244, 251);
}
.item_y {
  background: rgb(253, 240, 238);
}
.item_t {
  background: rgb(240, 240, 240);
}

.item {
  width: 100%;
  height: 100%;
  padding: 14px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.item svg {
  height: 25px;
  width: 25px;
}

.bottom {
  width: 100%;
  display: flex;
  height: 50%;
  gap: 5px;
}
/* media queries */

@media (max-width: 768px) {
  .social_home {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.2);
  }

  .social {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  .social_item {
    width: 100%;
    height: calc(25% - 5px);
  }
}
