@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(172, 172, 172, 0.2);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.2);
}

.text_chat {
  overflow-wrap: anywhere;
}

.hidden-child {
  visibility: hidden;
}
.makeChildHover:hover .hidden-child {
  visibility: visible;
}

.nbUsers {
  transition: --num 5s;
  counter-set: num var(--num);
  counter-increment: num;
  content: attr(data-after);
}
